.aw-money .operChart {
  .heading {
    font-size: 16px;
    padding-bottom: 10px;
    .sum {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .operChartRow {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
  }
}
